/* Universal Styles */

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
}

.feature {
  display: flex;
  align-items: center;
}

.left {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;

}
.schedule-container {
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
  transition: background-color linear 750ms;
}

.schedule-container .content{
  width: 65%;
}

.schedule-container:hover {
  background-color: #d9d9d8;
}

.content .mobile {
  display: none;
}


/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo span{
  font-family: Avenir, sans-serif;
  line-height: 2rem;
  color: #4a4a4a;
}

header .logo .bold{
  font-weight: bold;
  color: black;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}


/* Banner Section */
#learn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D3D3D3;
}

.banner .start {
  font-family: Avenir;
  max-width: 40%;
  padding-left: 1.5rem;
}

.banner .start h1{
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #4d4d4d;
  padding-bottom: 1.5rem;
}

.banner .start h4{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3;
  color: #4d4d4d;
  padding-bottom: 1.5rem;
}

.banner .start h5 {
  background-color: #4d4d4d;
  color: white;
  line-height: 1.4;
  text-align: center;
  padding: 0.5rem;
  width: 82%;
}
/* Information Section */

#information {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: #f3f3f1;
}

.left .content h2 {
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #4d4d4d;
  font-family: Avenir;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.left .content p{
  color: #4d4d4d;
  font-family: Avenir;
  font-size: 1rem;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}

.left .content h5{
  color: #4d4d4d;
  font-size: 0.8rem;
  font-family: Avenir;
}

.right {
  margin-top: 1rem;
  font-family: Avenir;
}
.schedule-container .image .mobile {
  display: none;
}

.schedule-container .image{
  width: 35%;
  padding: 1rem;
}

.schedule-container img {
  width: 100%;
}

.schedule-container .content {
  align-self: center;
}

.content h4, .course-container h4, .left .container h4 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3;
  color: #4d4d4d;
}
.schedule-container .content p, .course-container p, .left .container p{
  color: #4d4d4d;
  font-family: Avenir;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.5rem 0;
}

.schedule-container .content .add{
  color:#1E90FF;
}

/* Course Section */
#courses {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d8;
  align-items: center;
  padding: 2rem 3.5rem;
}

#courses h1, #thesis h1{
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #4d4d4d;
  font-family: Avenir;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.course-container {
  max-width: 30%;
  margin: 1rem;
  background-color: white;
  padding-bottom: 1.5rem;
}
.course-container img {
  width: 100%;
}
.course-container h4{
  padding: 1rem;
  color: black;
  font-size: 1.4rem;
  font-family: Avenir;
}

.course-container p{
  padding: 0.5rem 1rem;
}
/* Thesis Section */
#thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f1;
  padding-top: 2rem;
}

#thesis .content-container .video-container{
  overflow: hidden;
}
.video-container video{
  display: block;
  width: 100%;
}
.content-container {
  display: flex;
  flex-direction: row;
}

.left .container h4{
  margin-top: 1.5rem;
}

/* Footer */

footer {
  background-color: #f3f3f1;
  padding: 1rem 1.5rem;
  border-top: solid 1px #c6c1c1;
}

footer .content {
  color: #666666;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}
footer .terms span {
  padding-right: 0.5rem;
}

@media only screen and (max-width: 760px) {
  .content .logo {
    display: none;
  }
  header .content .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #information, #courses, #thesis, footer {
    background-color: #F3F5F5;
  }
  #information, #courses {
    border-bottom: solid 1px #c6c1c1;
  }
  #courses {
    margin: 0;
    padding: 2rem 1rem;
  }
  .course-container {
    min-width: 100%;
    padding: 0;
    margin: 0.25rem 0;
    display: inline-block;
    background-color: #D3D3D3;
  }
  .course-container h4 {
    padding: 1.5rem 1rem;
  }
  .course-container img, .course-container p {
    display: none;
  }
  .list {
    flex-direction: column;
    min-width: 100%;
    padding-top: 1rem;
  }
  #thesis .content-container .right{
    display: none;
  }
  .desktop {
    display: none;
  }
  #learn {
    flex-direction: column;
  }
  .banner .left {
    min-width: 100%;
    padding: 0;
  }
  .banner .start {
    min-width: 100%;
    margin-left: 2rem;
  }
  .banner .start h1 {
    font-size: 3rem;
    padding: 2rem 0;
  }
  .banner .start h4 {
    font-size: 1.9rem;
  }
  .banner .start h5 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #919190;
  }
  #information .left {
    display: none;
  }
  #information .right {
    min-width: 100%;
  }
  #information .schedule-container {
    flex-direction: column;
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .schedule-container img {
    display: none;
  }
  .schedule-container .image {
    min-width: 90%;
    padding: 0;
  }
  .schedule-container .image .mobile {
    display: block;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
  }

  .schedule-container .content {
    width: 85%;
    margin-left: 2rem;
    padding-right: 1rem;
  }
  .content h4 {
    font-size: 1.8rem;
  }
  .schedule-container .content p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  #thesis .content-container .container {
    display: none;
  }
  #thesis .left {
    min-width: 100%;
    padding: 0;
    padding: 1.5rem 0;
  }
  .terms {
    display: none;
  }
  footer {
    border: 0;
  }
  footer .content {
    font-size: 1rem;
    font-family: Avenir;
    padding: 1rem 0;
  }
}
